.services {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 0 0px 0 20px;
  height: 100%;
  color: #312d26;
  flex-direction: column;
}

.service-container {
  margin-bottom: 20px;
  overflow-y: auto;
  height: 100%;
  display: flex;

  flex-direction: column; /* 자식 요소를 세로로 정렬 */
  gap: 10px; /* 요소 간 간격 */
}

.modal-container p {
  height: 100%;
  white-space: pre-wrap;
}

.modal-container::-webkit-scrollbar,
.service-container::-webkit-scrollbar,
.consent-box::-webkit-scrollbar {
  width: 10px;
}

.modal-container::-webkit-scrollbar-thumb,
.service-container::-webkit-scrollbar-thumb,
.consent-box::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #fdc36d;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.price-summary-header {
  margin-top: 90px;
  display: flex;
  flex: 1;
  justify-content: end;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.top-label-service {
  font-size: 23px;
  width: 50%;
  /* 부모 너비의 50% */
  margin-left: 2%;
  margin-right: 10%;
}

.top-label-price {
  font-size: 23px;
  width: 60%;
}

.deploy-btn {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
  font-size: 24px;
  background-color: #f6b755;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  height: 50px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 6%);
  transition: background-color 0.3s;
  margin-bottom: 13px;
}

.top-price-summary-btn {
  font-family: "NanumSquareRound", sans-serif;
  color: #f49a29;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #f49a29;
  border-radius: 10px;
  padding: 5px;
  width: 30%;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.top-price-summary-btn:hover {
  background-color: #f49a29;
  color: white;
}

.close-btn:hover {
  background-color: #f49a29;
}

.service-element {
  display: flex;
  align-items: flex-start;
  background-color: #f7f2d2;
  padding: 10px;
  border-radius: 15px;
  flex-basis: 100%;
  border: 1px solid #d3d3d3;
}

.service-image {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  margin-right: 10px;
}

.service-label,
.price-label {
  font-size: 24px;
  font-weight: bold;
  width: 30%;
  /* 부모 너비의 50% */
  margin-left: 2%;
  margin-right: 0;
  /* 부모 요소 너비의 5%만큼 마진 */
}

.price-label {
  width: 80%;
  position: relative;
}

.service-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.description-wrapper {
  flex: 4;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.toggle-checkbox {
  display: none; /* 체크박스를 숨깁니다 */
}

.description-list {
  text-align: start;
  width: 80%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* 기본적으로 한 줄만 표시 */
  transition: max-height 0.3s ease;
  margin: 10px;
  padding: 0;
  font-size: 20px;
}

.description-list-loading {
  text-align: center;
  width: 80%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1; /* 기본적으로 한 줄만 표시 */
  transition: max-height 0.3s ease;
  margin-top: 5px;
  padding: 0;
  font-size: 20px;
}

.toggle-checkbox:checked ~ .description-list {
  -webkit-line-clamp: unset;
  max-height: 500px; /* 확장될 높이 */
}

.toggle-button {
  font-size: 16px;
  color: #97978f;
  cursor: pointer;
  margin-top: 13px;
  white-space: nowrap;
}

/* 라벨에 텍스트를 추가 */
.toggle-checkbox:not(:checked) ~ .toggle-button::after {
  content: "더보기";
}

.toggle-checkbox:checked ~ .toggle-button::after {
  content: "간단히 보기";
}

.loading-btn {
  position: relative;
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
  color: #fff;
  width: 125px;
  height: 65px;
  font-size: 25px;
  background-color: #fdc36d;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 10%);
  margin: 20px 0 20px 0;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}

.deploy-btn {
  position: relative;
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
  color: #fff;
  width: 125px;
  height: 65px;
  font-size: 25px;
  background-color: #fdc36d;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 10%);
  margin: 20px 0 20px 0;
  cursor: pointer;
  transition: all 0.2s;
}

.deploy-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.deploy-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.deploy-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.deploy-btn::after {
  background-color: #fdc36d;
}

.deploy-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.right-btn {
  display: flex;
  justify-content: flex-end;
  /* 자식 요소를 오른쪽으로 정렬 */
}

.middle-btn {
  /* 자식 요소를 오른쪽으로 정렬 */
  display: flex;
  justify-content: center;
  flex: 1;
}

.info-btn {
  font-size: 23px;
  padding: 10px 20px;
  background-color: transparent;
  color: #6b3ed4;
  border: none;
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.middle-btn {
  text-align: center;
  /* 버튼을 수평 중앙으로 정렬 */
  margin-top: 20px;
}

/* App.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* 모달 배경 어둡게 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  font-size: 22px;
  position: relative;
  background-color: #f2eed1;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  height: 500px;
  text-align: left;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow-y: auto;
}

.calculating-container {
  text-align: center;
  flex-direction: column;
}

.close-btn {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
  font-size: 22px;
  width: 80px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  margin-top: 20px;
  padding: 10px 5px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #f6b755;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 13%);
}

.info-notice {
  font-size: 23px;
  display: flex;
  align-items: center;
  height: 30px;
}

.info-title {
  margin-left: 10px;
}

.info-contents {
  height: 10px;
  font-size: 23px;
}

.spinner {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 툴팁 스타일 */
.loading-btn .tooltip {
  visibility: hidden; /* 기본적으로 보이지 않도록 설정 */
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: -35px; /* 버튼 위에 툴팁 표시 */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.9rem;
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

/* 버튼에 마우스가 올라갔을 때 툴팁 보이게 하기 */
.loading-btn:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.terms-and-conditions {
  border: 2px dashed #b1b1b1;
  background-color: #f2eed1;
  border-radius: 20px;
  padding: 10px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.consent-box {
  font-size: 22px;
  border: none;
  font-size: 20px;
  width: 100%;
  flex: 1;
  margin-top: 10px;
  border-radius: 4px;
  overflow-y: auto;
  resize: none;
  white-space: pre-wrap;
}

.consent-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

.color-font-th {
  font-weight: bold;
}

.consent-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  accent-color: #f6b755;
}

.consent-label {
  font-size: 20px;
  color: #333;
  white-space: nowrap;
}
