/* Loading.css */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  /* 반투명 배경 */
  z-index: 1000;
  /* 다른 요소보다 위에 표시 */
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fffce8;
}

.left-loading-page-th {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-loading-page-th {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  height: 80%;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  margin: 0 50px;
}

.alert-message {
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-page p {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

.loading-text {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  animation: fadeBlink 3s ease-in-out infinite;
}

@keyframes fadeBlink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.deploy-cloud {
  padding-top: 10%;
}