/* Loading.css */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  /* 반투명 배경 */
  z-index: 1000;
  /* 다른 요소보다 위에 표시 */
}

.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fffce8;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-page p {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

.loading-banner {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding: 10px;
  color: #333;
  font-size: 1.2em;
}

.loading-text {
  display: inline-block;
  padding-right: 100%;
  animation: scroll 8s linear infinite;
  width: 500px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}