.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2eed1;
  border-radius: 8px;
  height: 590px;
  width: 440px;
  border-style: solid;
  border-color: rgb(160, 158, 138, 0.5);
  border-width: 1px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 326px;
}

.auth-logo {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 80px;
}
.auth-icon {
  font-size: 54px;
  color: #fdc36d;
  margin-right: 8px;
  margin-bottom: 16px;
}

.auth-logo-text {
  color: #312d26;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 5px;
  top: 10px;
}

.auth-form h2 {
  font-size: 36px;
  margin-bottom: 32px;
  margin-top: 100px;
}

.login-form input {
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  display: block;
  margin: 5px 0;
  height: 43px;
  border: none;
  border-radius: 8px;
  border-style: solid;
  border-color: #d6d6d6;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.login-form input::placeholder {
  font-family: "NanumSquareRound", sans-serif;
  font-size: 22px;
  opacity: 0.5;
}

.auth-form button {
  font-family: "NanumSquareRound", sans-serif;
  font-size: 22px;
  width: 326px;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  height: 43px;
}

.login-form button {
  margin-top: 30px;
  font-family: "NanumSquareRound", sans-serif;
  font-weight: bold;
  width: 326px;
  background-color: #fdc36d;
  border: 1px solid #e5e5e5;
  outline: none;
}

/* .divider {
  margin: 0 30px 0 30px;
} */

.separator {
  display: flex;
  align-items: center; /* 요소들을 수평으로 정렬 */
  justify-content: center; /* 가운데에 텍스트 배치 */
  width: 326px;
  margin: 20px 0 20px 0;
  font-size: 22px;
  color: rgba(0, 0, 0, 20%);
}

.separator .line {
  flex-grow: 1; /* 선이 양쪽으로 균등하게 늘어나게 함 */
  height: 1px;
  border: 0;
  background-color: rgba(0, 0, 0, 20%);
  margin: 0 10px; /* 선과 텍스트 사이의 여백 */
}

.google-login {
  display: flex;
  justify-content: center; /* 가운데에 텍스트 배치 */
  background-color: #ffffff;
  color: #312d26;
  font-weight: bold;
  padding-bottom: 40px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 13%);
}

.google-login svg {
  margin-right: 20px;
  height: 100%;
}

.auth-signup {
  font-size: 20px;
  margin-top: 60px;
}

.auth-login {
  font-size: 20px;
  margin-top: 120px;
}

.signup-toggle,
.login-toggle {
  font-weight: bold;
  cursor: pointer;
  color: #6b3ed4;
}
