dist/
node_modules/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
.terraform
main.tf
.env
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars