/* 채팅창 전체 컨테이너 */
.chat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 3;
  height: 100%;
  font-size: 22px;
  color: #312d26;
}

.notice-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.space {
  margin: 0 5px;
  color: #c16b6b;
}

.download-button-th {
  color: #c16b6b;
  cursor: pointer;
  font-size: 28px;
  display: flex;
}

.home-chat-guide-th {
  position: absolute;
  border: 1px solid black;
  width: 620px;
  border-radius: 8px;
  background-color: white;
  margin-left: 10px;
  padding: 10px;
  font-size: 22px;
  color: black;
  z-index: 2;
}

/* 메시지 목록 스타일 */
.message-list {
  flex-grow: 1;
  margin: 0 25px 0 25px;
  padding: 10px;
  display: flex;
  flex-direction: column; /* 메시지들이 세로로 쌓이게 함 */
  gap: 10px; /* 메시지 간의 간격 */
  overflow-y: auto;
  max-height: "400px";
}

/* 크롬 및 사파리에서 스크롤바 숨기기 */
.message-list::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

/* 개별 메시지 스타일 */
.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 13%);
}

.template-btn-th {
  width: 300px;
  font-size: 22px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: #fffce8;
  cursor: pointer;
}

.user-message {
  align-self: flex-end;
  background-color: #ffffff;
  text-align: right;
  border-top-right-radius: 0;
}

.bot-message {
  align-self: flex-start;
  text-align: left;
  background-color: #b6d6ed;
  border-top-left-radius: 0;
}

.message-content {
  white-space: pre-line;
}

.chat-form {
  display: flex; /* Flexbox 사용 */
  width: 100%;
  height: 52px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 5px 4px 20px 0px rgba(0, 0, 0, 13%);
}

/* 입력 필드 및 버튼 스타일 */
.input-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chat-input {
  font-family: "NanumSquareRound", sans-serif;
  width: 100%;
  margin-left: 20px;
  flex-grow: 1;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  border: none;
  background: none;
}

.chat-input:focus {
  outline: none; /* 포커스 시 외곽선 제거 */
  border: none; /* 포커스 시 경계선 제거 */
}
.chat-icon {
  margin-left: 0;
}
.chat-button-sa {
  margin: 0;
  margin-right: 20px;
  background-color: transparent;
  color: #ffb546;
  border: none;
  cursor: pointer;
}

.scroll-to-bottom {
  position: absolute;
  bottom: 20%; /* 원하는 위치로 조정 */
  left: 50%;
  transform: translateX(-50%); /* 가로 중앙 맞추기 */
  cursor: pointer;
  width: 40px; /* 부모 요소의 크기를 아이콘과 배경에 맞게 설정 */
  height: 40px;
}

.scroll-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 아이콘을 배경의 중앙에 위치 */
  color: #fdc36d;
  z-index: 901; /* 배경 위로 오도록 설정 */
}

.scroll-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* 부모 요소 크기만큼 배경 채우기 */
  height: 100%;
  background-color: white;
  border-radius: 50%; /* 원형 배경 */
  z-index: 900; /* 아이콘 뒤로 위치 */
}

.bot-icon {
  color: #fdc36d;
  padding: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 10%);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.custom-checkbox {
  width: 280px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 8px;
  position: relative;
}

.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.checkbox-mark {
  width: 18px;
  height: 18px;
  border: 2px solid #007bff;
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  transition: background-color 0.3s;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-mark {
  background-color: #007bff;
  border-color: #007bff;
}

.checkbox-mark::after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-mark::after {
  display: block;
}
