/* 전체적인 레이아웃 */
.sidebar {
  position: fixed;
  top: 0;
  right: -383px; /* 기본적으로 화면 밖으로 숨김 */
  width: 350px;
  height: 100%;
  background-color: #e7e3c7;
  color: #312d26;
  transition: right 0.3s ease; /* 부드러운 슬라이딩 애니메이션 */
  z-index: 990; /* 다른 요소 위에 위치 */
  padding: 1rem;
  padding-top: 90px; /* navbar 위치 빼놓음 */
  border-width: 1px;
  border-style: solid;
  border-color: #a09e8a;
  box-shadow: -2px 0px 10px 2px rgba(0, 0, 0, 15%);
}

.sidebar.open {
  right: 0px; /* 사이드바가 화면으로 나올 때의 위치 */
}

/* 토글 버튼 */
.toggle-btn {
  height: 168px;
  position: absolute;
  top: 46%;
  right: 383px; /* 오른쪽 기준으로 배치 */
  transform: translateY(-50%);
  background-color: #e7e3c7;
  color: #bcb89f;
  border-width: 1px;
  border-style: solid;
  border-color: #a09e8a;
  border-radius: 10px 0px 0px 10px;
  border-right-style: none;
  padding: 8px;
  cursor: pointer;
  z-index: 1100; /* 오버레이보다 위에 위치 */
  box-shadow: -2px 0px 10px 2px rgba(0, 0, 0, 15%);
  writing-mode: vertical-rl; /* 세로 방향으로 글자 배치 */
  text-orientation: upright; /* 글자가 꺾이지 않고 세로로 표시 */
}

.toggle-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px; /* 가상 요소로 왼쪽 면 덮어쓰기 */
  height: 100%;
  background-color: #e7e3c7;
}

/* 오버레이 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900; /* 사이드바보다 아래에 위치 */
}

.contents {
  padding: 10px;
  font-size: 18px;
  position: absolute;
}
