/* 전체적인 레이아웃 */
.sidebar {
  position: fixed;
  top: 0;
  left: -282px; /* 기본적으로 화면 밖으로 숨김 */
  width: 250px;
  height: 100%;
  background-color: gray;
  color: white;
  transition: left 0.3s ease; /* 부드러운 슬라이딩 애니메이션 */
  z-index: 1000; /* 다른 요소 위에 위치 */
  padding: 1rem;
  padding-top: 40px; /*navbar 위치 빼놓음*/
}

.sidebar.open {
  left: -25px; /* 사이드바가 화면으로 나올 때의 위치 */
}

.toggle-btn {
  height: 100px;
  position: absolute;
  top: 46%;
  right: -27px; /* 사이드바 오른쪽 밖으로 살짝 나옴 */
  transform: translateY(-50%);
  background-color: gray;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1100; /* 오버레이보다 위에 위치 */
}

/* 오버레이 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1); /* 반투명한 검은 배경 */
  z-index: 900; /* 사이드바보다 아래에 위치 */
}

.contents {
  position: absolute;
  left: 50px;
}
