:root {
    --navbar-height: 60px;
}

.profile-page {
    margin-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-line-th {
    border: none;
    width: 1000px;
    border-top: 1px solid #cccaba;
    margin: 30px 0;
}

/* 상단 프로필 정보 */
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 150px;
    width: 800px;
    margin-top: 100px;
}

.profile-info h2 {
    margin: 10px 0 0px;
    font-size: 36px
}

.profile-info p {
    color: #312D26;
    font-size: 26px
}

/* 하단 프로젝트 리스트 */
.project-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 300px;
}

.project-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E7E3C7;
    width: 800px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    transition: transform 0.2s;
    cursor: pointer;
}

.project-item:hover {
    transform: translateY(-2px);
}

.project-item h3 {
    margin: 0 0 5px;
    font-size: 1.2rem;
}

.project-item p {
    margin: 0 0 10px;
    font-size: 1rem;
    color: #444;
}

.project-item small {
    color: #999;
    font-size: 0.8rem;
}