.review {
  display: flex;
  margin: 0px 50px 0 50px;
  position: relative;
  height: 100vh;
}

.vertical-line {
  height: 100vh;
}

.review-board {
  margin-top: 90px;
  margin-right: 20px;
  margin-bottom: 20px;
  flex: 2;
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
  position: relative;
}

/* The switch - the box around the slider */
.container {
  position: absolute;
  top: 5px;
  left: 7px;
  display: flex;
  justify-content: flex-start;
  width: 51px;
  height: 31px;
  z-index: 2;
}

/* Hide default HTML checkbox */
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  padding-left: 25px;
  white-space: nowrap;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}

.notice-tooltip {
  position: absolute;
  top: 50%; /* 수직 중앙에 맞추기 */
  left: 120%; /* 버튼 왼쪽에 위치 */
  transform: translateY(-50%);
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.notice-tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  left: -2%;
  transition-duration: 0.3s;
}

.container:hover .notice-tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.download {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
  justify-content: flex-end; /* 오른쪽 끝으로 정렬 */
}

.download-container {
  position: relative;
  display: inline-block;
}

.download-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
  z-index: 2;
}

.svgIcon {
  fill: rgb(255, 255, 255);
}

.icon2 {
  width: 18px;
  height: 5px;
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
}

.download-tooltip {
  position: absolute;
  top: 50%; /* 수직 중앙에 맞추기 */
  right: 120%; /* 버튼 왼쪽에 위치 */
  transform: translateY(-50%);
  opacity: 0;
  background-color: rgb(12, 12, 12);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.download-tooltip::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: rgb(12, 12, 12);
  background-size: 1000%;
  background-position: center;
  transform: rotate(45deg);
  right: -5%;
  transition-duration: 0.3s;
}

.download-button:hover .download-tooltip {
  opacity: 1;
  transition-duration: 0.3s;
}

.download-button:hover {
  transition-duration: 0.3s;
}

.download-button:hover .icon2 {
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.download-button:hover .svgIcon {
  fill: rgb(255, 255, 255);
  animation: slide-in-top 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.terraform-btn {
  background-color: #6f42c1;
}

.terraform-btn:hover {
  background-color: #5a32a3;
}

.default-btn {
  background-color: #f6b755;
}

.default-btn:hover {
  background-color: #f49a29;
}

.terraform-code {
  width: 100%;
  height: 100%;
}

.terraform-frame {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #23241f;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.terraform-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

pre {
  margin-top: 20px;
  height: 100%;
  margin: 0;
  border-radius: 15px;
  overflow-y: auto;
}
pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}
code {
  display: block;
  margin-top: 40px;
  height: 100%;
}

.mermaid-chart {
  width: 100%;
  height: 100%;
}

.download-button.loading {
  cursor: not-allowed;
}

.download-button.loading .spinner {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-top: 3px solid transparent;
}

/* 툴팁 스타일 */
.download-button .tooltip {
  visibility: hidden; /* 기본적으로 보이지 않도록 설정 */
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  top: -35px; /* 버튼 위에 툴팁 표시 */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 0.9rem;
  opacity: 0;
  z-index: 1500;
  transition: opacity 0.3s;
}

/* 버튼에 마우스가 올라갔을 때 툴팁 보이게 하기 */
.download-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.download-button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 6%);
}

.download-options {
  border-radius: 10px;
  position: absolute;
  top: 110%; /* 버튼 뒤에서 위로 펼쳐지도록 설정 */
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  opacity: 0; /* 초기 상태에서 투명 */
  transform: translateY(-40px); /* 아래에서 위로 이동 */
  transition: opacity 0.3s ease, transform 0.3s ease; /* 트랜지션 설정 */
  z-index: 1; /* 버튼보다 낮은 z-index 설정 */
}

.download-container:hover .download-options {
  opacity: 1; /* 보이도록 설정 */
  transform: translateY(0); /* 원래 위치로 이동 */
  pointer-events: auto; /* 보일 때 클릭 가능하도록 설정 */
}

.download-options button {
  font-family: "NanumSquareRound", sans-serif;
  color: #312d26;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  text-align: left;
}

.download-options button:hover {
  background-color: #f0f0f0;
}
