/* NavBar 높이를 설정 */
:root {
    --navbar-height: 60px;
}

/* 전체 페이지에 NavBar 높이만큼의 여백 추가 */
.history-page {
    margin-top: var(--navbar-height);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    border: 1px solid black;
    height: 90vh;
    width: 100%;
}

.project-header {
    border-bottom: 1px solid #cccaba;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    width: 1100px;
    margin: 20px;
    padding: 0px 50px;
}

.project-name-title-th {
    font-size: 36px;
}

.project-name-th {
    font-size: 28px;
}

.price-summary-frame {
    position: relative;
}

.price-summary-box {
    border: 1px solid black;
    border-radius: 10px;
    width: 380px;
    height: 480px;
    background-color: white;
    position: absolute;
    right: 220px;
    padding: 30px;
    transition: opacity 0.5s ease;
}

.price-summary-box.open {
    opacity: 1;
}

.price-summary-box.close {
    opacity: 0;
}

.price-summary-btn-th {
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 13%);
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 67px;
    background-color: #FDC36D;
    cursor: pointer;
}

.main-content {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 80%;
}

.previous-chat {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chat-button {
    width: 40px;
    margin-left: 100px;
}

.left-content {
    position: relative;
    width: 300px;
    /* border: 1px solid black; */
}

.previous-chatting-th {
    border-radius: 20px;
    background-color: #E7E3C7;
    width: 492px;
    height: 400px;
    padding: 20px;
    position: absolute;
    left: 10px;
    bottom: 0px;
    transition: opacity 0.5s ease;
    overflow: hidden;
    opacity: 0;
}

.previous-chatting-th.open {
    opacity: 1;
}

.previous-chatting-th.close {
    opacity: 0;
}

.service-status-th {
    padding: 10px;
}

.architecture-box {
    width: 860px;
    /* border: 1px solid black; */
}
