.key-form {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 24px;
  margin-right: 20px;
}

.top-key-form-th {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* border: 1px solid black; */
}

.input-box {
  margin: 10px 0;
}

.input-box input {
  padding-left: 20px;
  box-sizing: border-box;
  width: 505px;
  outline: none;
  display: block;
  margin: 5px 0;
  height: 41px;
  border: none;
  border-radius: 8px;
  border-style: solid;
  border-color: #d6d6d6;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.color-font-th {
  color: #312D26;
}

.input-box input::placeholder {
  font-family: "NanumSquareRound", sans-serif;
  font-size: 22px;
  opacity: 0.5;
}

.keyForm-line {
  border: none;
  width: 100%;
  border-top: 1px solid #cccaba;
  margin: 30px 0;
}

.bottom-key-form-th {
  height: 300px;
}
